    <footer class="footer" id="footer">
    <div style="display: block;">
        <footer class="group" id="footer" role="contentinfo">
            <div class="footer-wrapper">
                <div class="footer-meta">
                    <div class="copyright">
                        <a>© ibapp copyright</a>
                    </div>
                    <!-- end copyright -->
                </div>
                <!-- end footer-meta -->
            </div>
            <!-- end footer-wrapper -->
        </footer>

    </div>
</footer>