<head>
    <meta charset="UTF-8">
    <title>Photo App</title>
    <link rel="stylesheet" href="css/govuk-template.css">
    <link rel="stylesheet" href="css/compiled.css">
    <link rel="stylesheet" href="css/style.css">

</head>