<!DOCTYPE html>
<html>
<head>
    <title>Instagram Photos</title>
</head>
<body>

<h1>Welcome to the HomePage</h1>

<table>

    <thead>
    <tr>
        <th>User</th>
    </tr>
    </thead>

    <tbody>
    {{#user}}
        <tr>
            <td>{{username}}</td>
        </tr>
    {{/user}}
    </tbody>

</table>

<form action="submitHome" method="post">
    <input type="submit" value="Sign In">
</form>

</body>
</html>