<!DOCTYPE html>
<html lang="en">

{{>_head.mustache }}

<body>

    <header role="banner" id="global-header" class="with-propositionx">
        <div class="header-wrapper">
            <div class="header-global">
                <div class="header-logo">
                    <a href="http://localhost:8089/photosWebApp/home2" title="Home" id="logo" class="content">
                        <img src="images/logo.jpg">
                    </a>
                </div>
                <h1 class="bold-medium"><abbr title="Dashboard">Photo Stream</abbr></h1>

                <form action="home">
                    <select name="numImg">
                        <option value="20">20</option>
                        <option value="19">19</option>
                        <option value="18">18</option>
                        <option value="17">17</option>
                        <option value="16">16</option>
                        <option value="15">15</option>
                        <option value="14">14</option>
                        <option value="13">13</option>
                        <option value="12">12</option>
                        <option value="11">11</option>
                        <option value="10">10</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>

                    <input type="text" name="tag">

                    <input type="submit" value="Submit">
                </form>

            </div>
        </div>
        <div class="header-bar"></div>
    </header>

    <div id="photos">

            {{#imageLinks}}
                <img src="{{url}}">
            {{/imageLinks}}
    </div>

{{> _footer.mustache }}

</body>
</html>
<!--<form action="submitHome" method="post">
    <input type="submit" value="Sign In">
</form>-->